.contbody{
    background: #ffffff;
}

.contchaild{
  
        border: 1px solid  #4cd84c;
        background-color:  #4ce64c;
        height: 500px;
        width: 100%;
        margin-top: 120px;
        filter: brightness(0.8);
    
            position: absolute;
            z-index: -1;
        /* text-align: center; */
    
}
.contPara{
    color: #ffffff;
    margin-left:260px;
    margin-top: 30px;
    
}
.cp{
    color: #ffffff;
    margin-left: 50px;
    margin-top: 5px;
}
.get_in_tuch {
 background:  #ffffff;   
    height: 650px;
    width: 100%;
    
  
}

.touch_para {
    color: #000;
    font-size: xx-large;
    margin-top: 122px;
    margin-left: 680px;
    padding: 60px;
   
}


.touch_div {
    display: flex;
   
}

.touch_child_div {

    height: 400px;
    width: 500px;
  
    margin-left: 140px;
    background: #d5f2d5;
}
.touch_child_div1 {

    height: 400px;
    width: 500px;
    margin-top: 50px;
    margin-left: 140px;
    background: white;
}

.name,
.email {
    margin-top: 20px;
    margin-left: 60px;
    width: 400px;
    height: 60px;
    border: 1px solid rgb(225, 222, 222);
    border-radius: 5px;
}

.msg {
    border: 1px solid #ffffff;
    margin-left: 60px;
    margin-top: 20px;
    width: 400px;
    height: 50px;
}
.morebutton1{
    margin-top: 10px;
    margin-left: 170px;
    font-size: large;
    background: #ff941f 0 0 no-repeat padding-box;
    border-radius: 7px;
    border: none;
    min-width: 185px;
    min-height: 60px;
    text-align: center;
    color: #fff;
    overflow:visible;
}
.morebutton1:hover{
    color: #ff941f;
    border-radius: 7px;
    background: #fff;
    border: 3px solid  #ff941f;
}
.map{
    margin-top: 300px;
    margin-left: -600px;
}

.lastcontainer2{
    margin-top: 100px;
    margin-left: -780px;
    position: absolute;
    height: 400px;
    width: 100%;
    background: #343a40;
}